
@{
    ViewData["Title"] = "Добавление студентов";
}

<h2>Добавление студентов</h2>

<form onsubmit="Save_Click();return false">
<button type="button" class="btn btn-default" onclick="AddStudentFileds_Click()">Добавить</button>
<button type="submit" class="btn btn-success">Сохранить</button>
    <div id="newStudents">
    </div>
</form>
<script src="~/js/DBOfStudents.js" asp-append-version="true"></script>